Lib/Writers/Xsd/Translations/currencies.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="translationsCurrencies">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="currency" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="key" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="language"/>
        </xs:complexType>
    </xs:element>
</xs:schema>